* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(95, 213, 95, 0.113);
}
.header {
  padding: 10px 80px;
  width: 100%;
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
}

.trybewarts-header-logo {
  height: 80px;
}

.trybewarts-login {
  display: flex;  
}

.trybewarts-login button {
  border-radius: 9px;
  background-color: rgba(199, 108, 179, 0.963);
  padding: 10px;
  margin-;
}

.trybewarts-login input {
  border-radius: 8px;
  margin-right: 10px;
  text-align: center;
}

#trybewarts-header-title {
  color: white;
}

main {
  display: flex;
  justify-content: space-between;
}

#trybewarts-forms-logo {
  height: 500px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  border: solid black 1px;
  flex-direction: column;
}

#dados-pessoais {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

#dados-pessoais div {
  display: flex;
  justify-content: space-around;
}

.linha-dados {
  padding: 10px;
  margin: 15px;
  width: 200px;
}

#house {
  width: ;
}

#family-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;

}

#label-family {
  display: flex;
}

#label-content {
  display: flex;
  flex-direction: column;
}

#radio-family {
  display: flex;
  flex-direction: column;
}

#checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#box-checkbox {
  display: flex;
  flex-wrap: wrap;
  width: 245px;
  justify-content: space-between;
}



#notas {
  display: flex;
  margin: 25px 15px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin-top: 25px;
}