.header {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
}

.trybewarts-header-logo {
  height: 80px;
}

.trybewarts-login {
  display: flex;
}

#trybewarts-header-title {
  color: white;
}

main , #evaluation-form {
  display: flex;
  justify-content: space-between;
}

#evaluation-form {
  width: 675px;
  height: 500px;
  border: solid black 1px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#id {
  display: flex;
}

.linha-dados , #label-family {
  padding: 10px;
  margin: 15px;
  width: 200px;
}

#house {
  width: 100px;
}